[submodule "course-fast-ai-nlp/course-nlp"]
	path = course-fast-ai-nlp/course-nlp
	url = https://github.com/fastai/course-nlp.git
[submodule "microsoft-nlp/nlp"]
	path = microsoft-nlp/nlp
	url = https://github.com/microsoft/nlp.git
[submodule "course-fast-ai-v3/course-v3"]
	path = course-fast-ai-v3/course-v3
	url = https://github.com/fastai/course-v3.git
[submodule "hugging-face-pytorch-transformers/pytorch-transformers"]
	path = hugging-face-pytorch-transformers/pytorch-transformers
	url = https://github.com/huggingface/pytorch-transformers.git
